
.idea/libraries/JavaFX.xml
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
production/production/Futuro/.classpath
production/production/Futuro/.project
src/test.fxml
production/production/Futuro/board/Tile.class
production/production/Futuro/board/Grid.class
production/production/Futuro/board/Level.class
production/production/Futuro/board/Pair.class
production/production/Futuro/board/Path.class
production/production/Futuro/board/Tunnel.class
*.class
